.pokeCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
}
.pokePic {
  object-fit: contain;
}
.pokeName {
  font-size: 2rem;
  font-weight: bold;
}
