.pokeCard {
  --effect-clr-1: #2af598;
  --effect-clr-2: #fbab7e;
  --effect-clr-3: #8bc6ec;
  --effect-clr-4: #ff6a88;
}
.pokeCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #8ec5fc;
  background-image: linear-gradient(
    62deg,
    #8ec5fc 0%,
    #e0c3fc 50%,
    #000000 100%
  );
  transition: all ease-in-out 0.3s;
}
.pokeCard:hover {
  transform: scale(1.05);
}
.pokePic {
  object-fit: contain;
}
.pokeName {
  font-size: 2rem;
  font-weight: bold;
}
