#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.mainPage {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: 200px;
}
.logo {
  height: 200px;
  width: 200px;
}
.scoreBox {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #203880;
}
.scores {
  font-size: 24px;
}
