@font-face {
  font-family: 'PokemonSolid';
  src: url(./fonts/Pokemon-Solid.ttf);
}
@font-face {
  font-family: 'PokemonHollow';
  src: url(./fonts/Pokemon-Hollow.ttf);
}

#root {
  text-align: center;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.mainPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url(./assets/gyrados-wallpaper.jpg);
  object-fit: cover;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  padding: 30px 9%;
}
.logo {
  height: 120px;
  width: 200px;
}
.scoreBox {
  height: 120px;
  width: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.scores {
  font-family: 'PokemonSolid';
  font-size: 24px;
  font-weight: 100;
}
